/* 
p {
    color: #7a8080;
    font-size: 1.5em;
    font-weight: 600;
}

.signup-form {
    background-color: #fff;
    max-width: 56%;
    margin: auto;
    padding: 50px 70px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

#progressbar {
    margin: 35px 0;
    overflow: hidden;
}

#progressbar .active {
    color: #16D5FF;
}

#progressbar li {
    text-align: center;
    margin-left: 1em;
    align-content: space-between;
    list-style-type: none;
    font-size: 16px;
    width: 20%;
    float: left;
    position: relative;
}

/*Icons in the ProgressBar*/

#progressbar #personal:before {
    font-size: 28px;
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #contact:before {
    font-size: 28px;
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #kyc:before {
    font-size: 28px;
    font-family: FontAwesome;
    content: "\f05d";
}

#progressbar #account:before {
    font-size: 28px;
    font-family: FontAwesome;
    content: "\f023";
}

/*ProgressBar before any progress*/
#progressbar li:before {
    width: 52px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(239, 234, 234);
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    color: #16D5FF;
    background-color: #F2F8FE;
}

.signup-form form {
    max-width: 100%;
}

.signup-form fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
.signup-form fieldset:not(:first-of-type) {
    display: none;
}

.signup-form fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
}

.signup-form input, .signup-form textarea {
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(199, 191, 191);
    border-radius: 0px;
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
}

.signup-form textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    border: 2px solid #16D5FF;
    outline-width: 0;
}

.signup-form input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    border-bottom: 2px solid #16D5FF;
    outline-width: 0;
}

/*Blue Buttons*/
.signup-form .action-button {
    border-radius: 30px;
    padding: 10px 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    width: 16%;
    border: none;
    color: white;
    margin-top: 2em;
    letter-spacing: 1px;
}

#btnSubmit {
    background-color: lime
}

.signup-form .action-button:hover, .signup-form .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}

/*Dropdown List Exp Date*/
select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 5px 5px;
    color: #7a8080;
    width: 133%;
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue;
} 