.viewAll .form-card,
.viewAll .data-table {
    background-color: white;
    border-radius: 6px;
    padding: 16px 20px;
}

.data-table{
    overflow-x: auto;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-row input {
    flex-grow: 1;
}

.form-row label {
    width: 130px;
}

.form-grid {
    display: grid;
    column-gap: 48px;
    row-gap: 16px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
    .form-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}